page-contacts {
    .avatar-icon {
        width: 20%;
        float: left;
    }
    .contactDetails {
        width: 80%;
        float: left;
        text-align: center;
        .name {
            font-size: 22px;
            font-weight: bold;
            text-overflow: ellipsis;
        }
        .lastSeen {
            letter-spacing: 2px;
            color: green;
        }
        .phoneNumber {
            letter-spacing: 2px;
            color: black;
        }
    }
    .labelDiv {
        padding-left: 32%;
        padding-right: 32%;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #575757;
        margin-top: 2%;
    }
    i {
        margin-left: 45%;
        margin-right: 45%;
    }
}