page-join-life {
    ion-item {
        border-radius: 15px;
    }
    .text-input {
        border-bottom: 1px solid transparent;
    }
    .fixDiv {
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;
    }
}