page-heading {
    .logo_life {
        padding-left: 20%;
        font-size: 25px;
        font-weight: bold;
        font-family: Comic Sans MS;
        color: #eeeeee;
        letter-spacing: 4px;
        padding-right: 20%;
        width: 100%;
        text-align: center;
    }
    .contact_image {
        height: 50px;
        width: 50px;
        margin-left: 65%;
    }
}