page-signup {
    .form-group {
        height: calc(100% - 38px);
        overflow-y: scroll;
    }
    button {
        background-color: #4CAF50 !important;
        border: none;
        color: white !important;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
    }
    .uploadImage {
        height: 135px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10%;
        border-radius: 100px;
    }
    .inputbox {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        margin-bottom: 10%;
        border-bottom: 1px solid green;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
    }
    .loginHeading {
        margin-top: 10%;
        color: gray;
        font-size: 20px;
        text-align: center;
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
    }
    .loginFooter {
        margin-top: 10%;
        color: gray;
        font-size: 20px;
        text-align: center;
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
        a {
            color: blue;
        }
    }
}