page-image {
    ion-item {
        background-color: #7DA9EE !important;
        border-bottom: 1px dotted !important;
    }
    ion-label h2 {
        color: white;
        p {
            letter-spacing: 0.3px;
            padding-top: 5px;
        }
    }
}